<header class="header">
  <section class="top-nav">
    <div class="top-navbar-div">
      <ul class="top-nav nav-bar">
        <li class="top-nav-item">Covid-19 Safety</li>
        <li class="top-nav-item">Career</li>
        <li class="top-nav-item">Why Us?</li>
        <li class="top-nav-item">Service Area</li>
        <li class="top-nav-item">(770) 421-8400</li>
      </ul>
      <div>
        <button class="search-btn-top-nav">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="header-logo-navbar-container">
      <div class="header-logo-div">
        <div class="header-logo">
          <img src="../../assets/images/header-logo.jpeg" alt="header-logo" />
        </div>
      </div>
      <div class="navbar-div">
        <div class="schedule-div">
          <button class="schedule-btn btn">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <em class="btn-text">schedule now</em>
          </button>
        </div>
        <ul class="nav-bar nav-bar-items">
          <li class="nav-item">Air Condtioning</li>
          <li class="nav-item">Heating</li>
          <li class="nav-item">Plumbing</li>
          <li class="nav-item">Electrical</li>
          <li class="nav-item">Water Treatment</li>
          <li class="nav-item">Insulation</li>
          <li class="nav-item">Maintenance</li>
        </ul>
      </div>
    </section>
  </div>
</header>
<!-- Header END -->
