 <!-- Footer START -->
 <footer class="footer">
    <div class="footer-container container">
      <section class="footer-image-section">
        <div class="footer-logo">
          <img src="../../assets/images/footer-logo.jpeg" alt="footer-logo" />
        </div>
        <div class="copyright-logo">
          © 2022 Coolray Heating & Air Conditioning all rights reserved
        </div>
      </section>
      <section class="grid-container">
        <ul class="grid-item">
          <li class="list-item first-column">Air Conditioning</li>
          <li class="list-item first-column">Heating</li>
          <li class="list-item first-column">Electrical</li>
          <li class="list-item first-column">Insulation</li>
          <li class="list-item first-column">Reviews</li>
          <li class="list-item first-column">Financing</li>
        </ul>
        <ul class="grid-item">
          <li class="list-item first-column">Water Treatment</li>
          <li class="list-item first-column">Plumbing</li>
          <li class="list-item first-column">Maintenance</li>
          <li class="list-item first-column">Offers</li>
          <li class="list-item first-column">Service Area</li>
        </ul>
        <ul class="grid-item">
          <li class="list-item second-column">Why Us?</li>
          <li class="list-item second-column">Help Guides</li>
          <li class="list-item second-column">Careers</li>
          <li class="list-item second-column">Sitemap</li>
        </ul>
        <ul class="grid-item">
          <li class="list-item second-column">Contact Us</li>
          <li class="list-item second-column">Covid-19 Safety</li>
          <li class="list-item second-column">Referral Program</li>
          <li class="list-item second-column">Privacy Policy</li>
        </ul>
        <ul class="grid-item social-media-links">
          <li class="social-link">
            <em class="fa fa-twitter-square"></em>
          </li>
          <li class="social-link">
            <em class="fa fa-facebook-square"></em>
          </li>
          <li class="social-link">
            <em class="fa fa-youtube-square"></em>
          </li>
          <li class="social-link">
            <em class="fa fa-linkedin-square"></em>
          </li>
      </ul>
      </section>
    </div>
  </footer>