/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  // min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  min-height: -webkit-fill-available;
  @media only screen and (max-device-width: 767px) {
    // position: fixed;
  }
}
